.right--side {
  max-width: 560px;
  /* min-width: 410px; */
  padding: 32px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* box */
.box {
  font-size: 0.875rem;
  color: #ededef;
  box-shadow: inset #232326 0 0 0 1px;
  background-color: #1c1c1f;
  /* border: #232326 solid 1px ; */
  border-radius: 3px;
  border-left: #664fc1 solid;
  border-left-width: 6px;
  letter-spacing: -0.09px;
  padding: 0.875rem 1.25rem;
  margin-bottom: 29px;
}

/* signIn */
.signIn--form {
  font-size: 1rem;
  color: #ededef;
}
.signIn__text {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.create--accaunt--add {
  margin-bottom: 2.5rem;
}
.anotherSignIn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 766px) {
  .right--side {
    padding: 50px 24px;
  }
}
