.regForm {
    display: flex;
    flex-direction: column;
  }
  
  /* inputs */
  .label {
    font-size: 1rem;
    display: flex;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .formInput {
    position: relative;
    width: 100%;
  }
  .input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-family: Inter var, Inter, sans-serif;
    caret-color: #ededef;
    color: #ededef;
    background-color: transparent;
    box-shadow: 0px 0px 16px -3px rgba(110, 86, 207, 0.4);
    border: solid #3e3e44 1px;
    transition: 0.15s;
  }
  .input:hover {
    background-color: #232326;
    border-color: #525252;
    box-shadow: 0px 0px 24px -1px rgba(110, 86, 207, 0.4);
  }
  .input:focus {
    border-color: #6e56cf;
    outline-style: none;
  }
  
  /* button */
  .passHideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
  }
  .image {
    height: 16px;
    width: 16px;
    background-color: #ededef;
  }
  .passHideImage {
    -webkit-mask-image: url(/public/images/hide.svg);
    mask-image: url(/public/images/hide.svg);
  }
  .passShowImage {
    -webkit-mask-image: url(/public/images/show.svg);
    mask-image: url(/public/images/show.svg);
  }
  .passHideButton:hover {
    background-color: #6e56cf84;
  }
  .hide {
    background-color: #6e56cf;
  }
  .littleLink {
    font-size: 0.75rem;
    align-self: flex-end;
  }
  .formSubmitButton {
    font-family: inherit;
    opacity: 0.5;
    width: 84px;
    border: #6e56cf;
    background-color: #6e56cf;
    font-size: 1rem;
    border-radius: 6px;
    min-height: 3rem;
    color: #ededef;
    margin-bottom: 5rem;
  }
  .canSubmitButton {
    /* background-color: #232326; */
    font-family: inherit;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
  }
  .canSubmitButton:hover {
    background-color: #7660d0;
  }
  
.link {
    color: #9e8cfc;
    text-decoration: none;
  }