.rightSide {
  max-width: 560px;
  padding: 32px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* box */
.box {
  font-size: 0.875rem;
  box-shadow: inset #232326 0 0 0 1px;
  background-color: #1c1c1f;
  border-radius: 3px;
  border-left: #664fc1 solid;
  border-left-width: 6px;
  padding: 0.875rem 1.25rem;
  margin-bottom: 29px;
}

/* signIn */
.signInForm {
  color: #ededef;
}
.signInText {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.createAccauntAdd {
  margin-bottom: 2.5rem;
}
.anotherSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  color: #9e8cfc;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .rightSide {
    padding: 0;
  }
  .signInForm {
    width: 25.265rem;
  }
}
@media screen and (max-width: 766px) {
  .rightSide {
    width: 100%;
  }
  .signInForm {
    /* width: 100%; */
    min-width: 0;
    width: auto;
    max-width: 560px;
    padding: 50px 0;
  }
}
